$hover-color: #e6e1e1;
$color-gray: #808080;
$border-color: #000;
$color-white: #fff;
$font-tipo-saldo: .7em;
$size-titulo-menor: 1.2em;
$size-titulo-medio: 1.3em;
$size-titulo-maior: 1.5em;
$color-gray-dark: #333;

